@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


.user_avatar {
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -18px;
}
.user_avatar p {
    font: bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 14px;
    height:65px;
    width:65px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    border: black 1px solid;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}

.comment_block {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}
.comment_block .create_new_comment {
    width: 100%;
    padding: 20px 0;
}
 .input_comment {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
}
.input_comment {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
 .input_comment input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #e6e6e6;
}
 .input_comment textarea:focus {
    outline: none;
    border-bottom: 2px solid #e6e6e6;
}
.comment_block .new_comment {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
}
.comment_block .new_comment .user_comment {
    list-style-type: none;
}
.comment_block .new_comment .comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 65px;
    margin-left: 3px;
    padding: 5px 10px;
    font-size: .9rem;
    color: #555;
    background-color: #FFF;
    border: black 1px solid;
    border-radius: 4px;
}
.comment_block .new_comment .comment_body .replied_to {
    margin: 5px 0px;
    background-color: #fafafa;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 5px;
}
.comment_block .new_comment .comment_body .replied_to p {
    padding: 5px;
}
.comment_block .new_comment .comment_body .replied_to span {
    color: #6495ED;
    margin-right: 2px;
}
.comment_block .new_comment .comment_toolbar {
    width: 100%;
}
.comment_block .new_comment .comment_toolbar ul {
    list-style-type: none;
    padding-left: 75px;
    font-size: 0;
}
.comment_block .new_comment .comment_toolbar ul li {
    display: inline-block;
    padding: 5px;
    font-size: .7rem;
    color: #000000;
}
.comment_block .new_comment .comment_toolbar ul li:hover {
    cursor: pointer;
}
.comment_block .new_comment .comment_toolbar .comment_details {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: left;
}
.comment_block .new_comment .comment_toolbar .comment_tools {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: right;
}
.comment_block .new_comment .comment_toolbar .comment_tools li:hover {
    color: #CCC;
}
.comment_block .new_comment .user:hover {
    color: #6495ED;
    text-decoration: underline;
}
.comment_block .new_comment .love:hover {
    color: #FF6347;
}

.comment-section
{
    margin-top: 10%;
}







.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.myForm * {
    box-sizing: border-box;
}

.myForm label {
    font-size: 0.9em;
}

.myForm .audioOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.myForm input,.myForm textarea  {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.5em;
    margin-left: 10px;
}
.myForm textarea{
    width: 80%;
}

.myForm input[type="email"],
.myForm input[type="password"] {
    width: 12em;
}

.myForm button {
    padding: 0.7em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-left: 1.5em;
}

.myForm button:hover {
    background: #ccc;
    cursor: pointer;
}